.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    align-items: center;
    gap: 2rem;
    background-color: #0E0F13;
    border-radius: 26px;
    
}

.form-header{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.form-header h2{

    font-weight: 400;
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 100%;
    color: #FFFFFF;
    border-right: 1px solid #393939;
}

.form-header p{
    
    font-family: Inter;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 26.93px;
    letter-spacing: -0.39px;
    color:#C7C9D1 ;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label{

font-weight: 400;
font-size: 1.2rem;
line-height: 30.45px;
letter-spacing: 0%;
vertical-align: middle;
color: #BCC3D7;

}

.form-group input{
    width: 100%;
    height: 3rem;
    border: 2.56px solid #FFFFFF0D;
    padding: 1rem;
    border-radius: 16px;
    background: transparent;
}

.form-group input::placeholder{
    color: #BCC3D7;
    font-weight: 400;
font-size: 1rem;
line-height: 30.45px;
letter-spacing: 0%;
}

.form-container button{
    width: 100%;
    height: 3rem;
    background-color: #2029C8;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 30.45px;
    letter-spacing: 0%;  
}